{#=====================================================
  Base template
  - Used as the basis of all pages
=====================================================#}

<!DOCTYPE html>

<html lang="en" data-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Creatures {% block title %}{% endblock %}</title>

    <link rel="icon" href="/static/images/icon.svg">

    <script src="/static/js/utils.js"></script>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/messages.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <header>
        <a href="/">
            <img src="/static/images/icon.svg" alt="Creature Icon" class="logo">
        </a>

        <h1><marquee>To-Do</marquee></h1>

        <nav>
        <marquee behavior="scroll" direction="scroll" scrollamount="10">
            <a href="/">Home</a>
            <a href="/help">Help</a>
        </marquee>
        </nav>
    </header>

    {# Show flash messages from any previous events #}
    {% include "partials/messages.jinja" %}

    <main>

    <h2>Things To-Do</></h2>

    <section id="Todo_List">

        {% for creature in creatures %}

            <div class="Todo_item">
                <h3>{{ creature.priority }}</h3>
                <p>Species: <strong>{{ creature.name }}</strong></p>
            </div>

        {% else %}

            <p>Nothing to do!</p>

        {% endfor %}

    </section>




    </main>

</body>

</html>

